<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Obrok</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">Dodaj Obrok</h1>
        <form th:action="@{/meals/addMeal}" method="post" th:object="${meal}" class="d-inline">
            <div class="input-group">
                <input type="text" id="name" name="name" class="form-control" th:value="${meal.name}" placeholder="Naziv obroka" required>
                <div class="input-group-append">
                    <button th:if="${meal.id == null}" type="submit" class="btn btn-primary">Dodaj obrok</button>
                    <button th:if="${meal.id != null}" type="submit" class="btn btn-primary">Sačuvaj izmene</button>
                </div>
            </div>
        </form>
    </div>

    <h4>Namirnice</h4>
    <ul class="list-group mb-3">
        <li th:each="ingredient, iterStat : ${meal.mealIngredients}" class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <strong th:text="${ingredient.grocery.name}">Namirnica</strong> -
                <span th:text="${ingredient.quantity}">Količina</span>
            </span>
            <form th:action="@{/meals/removeIngredient}" method="post" class="d-inline">
                <input type="hidden" name="ingredientIndex" th:value="${iterStat.index}">
                <button type="submit" class="btn btn-danger btn-sm">Ukloni</button>
            </form>
        </li>
    </ul>

    <form th:action="@{/meals/addIngredient}" method="post" th:object="${meal}" class="mb-4">
        <div id="ingredients-container" class="form-row">
            <div class="form-group col-md-6">
                <label for="grocery">Namirnica:</label>
                <select id="grocery" name="grocery" class="form-control" required>
                    <option th:each="grocery : ${groceries}" th:value="${grocery.id}" th:text="${grocery.name}"></option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="quantity">Količina:</label>
                <input type="number" id="quantity" name="quantity" class="form-control" required/>
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <button type="submit" class="btn btn-secondary">Dodaj namirnicu</button>
            </div>
        </div>
    </form>

    <a th:href="@{/meals}" class="btn btn-danger">Odustani</a>
</div>
</body>
</html>