<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Namirnica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Lista Namirnica</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ime Namirnice</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="grocery : ${groceries}">
            <th scope="row" th:text="${grocery.id}">1</th>
            <td th:text="${grocery.name}">Grocery</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>