<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Prijava</h1>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Lozinka:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Prijavi se</button>
    </form>
    <a th:href="@{/register}" class="btn btn-outline-secondary mt-4">
        <i class="fas fa-sign-in-alt"></i> Novi nalog
    </a>
</div>
</body>
</html>