<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Obroka</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Lista Obroka</h1>
    <div th:if="${mealPlan == null} "class="mb-4">
        <a th:href="@{/meals/add}" class="btn btn-primary">Dodaj Obrok</a>
    </div>

    <!-- Lista obroka -->
    <div th:if="${not #lists.isEmpty(meals)}">
        <ul class="list-group">
            <li th:each="meal : ${meals}" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 th:text="${meal.name}">Naziv obroka</h5>
                    <ul class="list-group">
                        <li th:each="ingredient : ${meal.mealIngredients}" class="list-group-item d-flex justify-content-between align-items-center">
                            <span th:text="${ingredient.grocery.name}">Namirnica</span>
                            <span class="badge badge-primary" th:text="${ingredient.quantity}">Količina</span>
                        </li>
                    </ul>
                </div>
                <a th:if="${mealPlan == null}" th:href="@{/meals/edit/{id}(id=${meal.id})}" class="btn btn-warning btn-sm">Izmeni</a>
                <form th:if="${mealPlan != null}" th:action="@{/mealPlan/addMeal}" th:object="${mealPlan}" method="post" class="d-inline">
                    <input type="hidden" name="mealId" th:value="${meal.id}"/>
                    <input type="hidden" name="timeOfDayId" th:value="${mealPlan.timeOfDay.id}"/>
                    <input type="hidden" name="date" th:value="${mealPlan.date}"/>
                    <button type="submit" class="btn btn-danger btn-sm mt-2">Dodaj</button>
                </form>
            </li>
        </ul>
    </div>
    <div th:if="${#lists.isEmpty(meals)}" class="alert alert-info">
        Nema obroka na listi.
    </div>
</div>

<!--<script type="text/javascript" th:src="@{/static/ingredients.js}" />-->
</body>
</html>